@import './variables';
@import './reset';

.rbc-calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: $out-of-range-color;
}

.rbc-off-range-bg {
  background: $out-of-range-bg-color;
}

.chineselabel {
  padding-top: 6px;
  font-size: 20px;
  color: #CACCCD;
}

.daylabel{
  padding-top: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.no-event-day {
  color: rgba(0, 0, 0, 0);
}

.call-type {
  background-color: #A2E4FF !important;
  color: black !important;
}

.call-done-type {
  background-color: #FFFFFF !important;
  color: #00ACFB !important;
  border: 2px dashed #00ACFB !important;
}

.small-event-type {
  background-color: #FFD99D !important;
  color: black !important;
}

.large-event-type {
  background-color: #ADEFB7 !important;
  color: black !important;
}

.tot-type {
  background-color: #DFACF8 !important;
  color: black !important;
}

.tutorial-type {
  background-color: #FF8F89 !important;
  color: black !important;
}

.rbc-header {
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 28px;
  min-height: 110px;
  min-width: 64px;
  border-bottom: 0px solid $cell-border;

  & + & {
    border-left: 0px solid $cell-border;
  }

  .rbc-rtl & + & {
    border-left-width: 0;
    border-right: 0px solid $cell-border;
  }

  & > a {
    &,
    &:active,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.rbc-button-link {
  color: inherit;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  user-select: text;
}

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-row-content-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;

  .rbc-row-content-scroll-container {
    height: 100%;
    overflow-y: scroll;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.rbc-today-header {
  .columnheader {
    width: 64px;
    height: 110px;
    background-color: #F2F2F6;
    color: #007AFF;
    border-radius: 6px;
  }
}
.rbc-selected-header {
  .columnheader {
    width: 64px;
    height: 110px;
    background-color: #007AFF;
    color: white;
    border-radius: 6px;
    .has-event {
      fill: white;
    }
  }
}

@import './toolbar';
@import './event';
@import './month';
@import './agenda';
@import './time-grid';
